<div class="pdf-download rounded-md px-1 py-[1px] dark:border-primary-600">
  <a href="{{ .Page.RelPermalink | relURL }}/{{ .Get "src" }}">
    <span>Download PDF</span> {{ partial "icon.html" "download" }}
  </a>
</div>
<div class="pdf-container">
    <iframe 
        src="/pdfjs/web/viewer.html?file={{ .Page.RelPermalink | relURL }}/{{ .Get "src" }}" 
        width="{{ .Get "width" | default "100%" }}" 
        height="{{ .Get "height" | default "600px" }}" 
        style="border: none;">
    </iframe>
</div>
